
/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*beginning of css updates*/


body {
	font-family: Sans-Serif;
	color: #ffffff;
}

header, footer {
	background-color: #0f3246;
}

h1 { 
	color: #f39e14;
	font-size: 24px;
	
}

a {
	text-decoration: none;
}



/*header*/

header nav ul li {
	display: inline-block;
}

header nav ul li a{
	color: #ffffff;
}
	
	


header nav ul form input {
	background-color: #1a5273;
	border: 0px;
}
	
article { 
	background-color: #e9eaee;
}
	
	
/*sectionOne*/	
.sectionOne ul {
	
}

.sectionOne ul li {
	width: 900px;
	display: inline-block;
	width: 100%;
	font-size: 10px;
}

.sectionOne ul li ul {
	background-color: #175c8a;
	
}

.sectionOne ul li ul li {
	border: 2px solid #1a5273;
	border-right: none;
	display: block;
	width: 100%;
	
	
}

.sectionOneImg {
	background-image: url("https://thumb1.shutterstock.com/display_pic_with_logo/1506158/490695244/stock-photo-young-cheerful-woman-on-cell-phone-looking-at-laptop-monitor-in-startup-office-490695244.jpg");
}

.sectionOneOverlay {
	background-color:rgba(0,0,0,0.5);
}

/*sectionTwo*/
.sectionTwo {
	color: #405467;
}
.sectionTwo ul li {
	display: inline-block;
	width: 33%;
}


/*footer*/

footer {
	color: #ffffff;
}

footer h3 {
	background-color: #0a1e2d;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

footer li {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.footerUlMain {
	width: 80%;
	padding: 20px;
	margin: auto;
}

.footerUlMain li{
	display: inline-block;
	width: 30%;
	
}

.footerUlOne li{
	display: block;
	width: 100%;
	background-color: #144565;
}

.footerUlOne li:nth-child(even) {
	background-color: #0d283b;
}


.footerUlTwo li {
	display: block;
	width: 100%;
	background-color: #144565;
}

.footerUlTwo li:nth-child(even) {
	background-color: #0d283b;
}

.footerUlThree li {
	display: block;
	width: 100%;
	text-align: left;
}

.footerUlThree h2, span {
	color: #fea339;
}

.footerUlThree li ul li {
	display: inline-block;
	width: 10%;
}